<div class="container">
  <div class="row">
    <div class="col-sm-12 m-4">
      <p>画像</p>
      <%= image_tag @park.image, size: "200x200" %></br>
      <%= @park.name%></br>
      <%= @park.prefecture.name %></br>
      <%= @park.address %></br>
      <%= @park.description%></br>

    </div>
  </div>
</div>

    <% if @park.favorited_by?(current_user) %>
    <p>
      <%= link_to park_favorite_path(@park), method: :delete do %>
        ♥<%= @park.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to park_favorite_path(@park), method: :post do %>
        ♡<%= @park.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>
</div>
<% if User == current_user %>
  <%= link_to '編集', edit_park_path(@park) %>
<% end %>

<%= link_to '戻る', prefecture_parks_path(@park.prefecture.id) %></br>

<% if User == current_user %>
  <%= link_to '削除', park_path(@park), method: :delete, "data-confirm" => "本当に削除しますか？"  %>
<% end %>

