<h1>ユーザー詳細</h1>
<p id="notice"></p>
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <p>画像: <%= image_tag (@user.image.present? ? @user.image : "no_image.jpg"), size: "200x200" %></p></br>
      <p>ユーザー名: <%= @user.name %></p>
      <p>メールアドレス: <%= @user.email %></p>
      <p>コメント数: <%= @user.park_comments.count %> </p>
    </div>
  </div>
</div>
<% if @user == current_user %>
  <%= link_to '編集', edit_user_path(@user) %>
<% end %>

<%= link_to '戻る', users_path(@user) %></br>

<% if @user == current_user %>
  <%= link_to '削除', user_path(@user), method: :delete, "data-confirm" => "本当に削除しますか？"  %>
<% end %>