<!DOCTYPE html>
<html>
  <head>
    <title>GoPoark</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/0bcafbffc0.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="col-sm-12 mb-1">
    <h1>Go Park</h1>
    <header>
      <% if user_signed_in? %>
        <li>
          <button type="button" class="btn btn-light"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></button>
        </li>
      <% else %>
        <li>
          <button type="button" class="btn btn-light"><%= link_to "新規登録", new_user_registration_path %></button>
        </li>
        <li>
          <button type="button" class="btn btn-light"><%= link_to "ログイン", new_user_session_path %></button>
        </li>
      <% end %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
